/*===================================================== 
      Dawson Richey | FEWD '17 | Capstone Project
=======================================================

/* ================================= 
       Main Style Sheet
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin: 0 0 1.8em 0;
}
h2,
h3,
a {
	color: #093a58;
}
h2,
h3 {
	margin: 0 0 .8em 0;
}
a {
	text-decoration: none;
}
img.logo {
	max-width: 100%;
	background-color: #fff;
    border-radius: 11px;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);

}
img {
	width: 100%;
	background-color: #fff;
    border-radius: 3px;

}
h2 {
	text-align: center;
	margin-top: 5px;
	font-size: 32px;
	font-family: 'roboto';

}
ul {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 15px;
	margin-left: 15px;
}
li {
	float: left;
    margin-right: 5px;
    padding-right: 2px;
    font-size: .9em;;
}

.header{
		background-color: #666;

}
.info {
	display: flex;
	justify-content: space-around;
	background-color: rgba(58, 206, 194, 0.7);
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background: #3acec2;
	padding: 3.2em 0;
	margin-bottom: 48px;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
	position: fixed;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}
.button {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #3acec2;
	border-radius: .35em;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  padding: 0px 25px 50px 2px;
  margin: 0px 25px 10px 2px;
  
  /*Positioning*/
  position: absolute;
  left:10px;
  top:1px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

.reverse {
    display: block;
    background: #fff;
    padding: 25px 20px 15px 60px;
    margin: 0 0 20px;
    position: relative;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.7;
    color: #666;
    text-align: left;
    border-left: 8px solid #6dbacb;
    border-right: 2px solid #6dbacb;
    -moz-box-shadow: 25px 20px 40px -10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 25px 20px 40px -10px rgba(0,0,0,0.15);
    box-shadow: 25px 20px 40px -10px rgba(0,0,0,0.15);
	
}

blockquote footer {
  margin-top: 0px;
  padding: 0;
  color: #777;
  font-size: 12pt;
  text-align: right;
  font-style: italic;
}

left {
  margin-top: .1em;
  padding: 0;
  color: #777;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}

blockquote footer:before {
  content: "\2015\0020";
}

.center {
	text-align: center;
}

#quotes {
	width: 80%;
}

.poster {
	margin: 0 auto;
	width: 50%
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}
}